UwU.temp
setup.log

User/.config/cava/shaders
User/.config/mpv/playlists

temp

User/.config/mpv/shaders
OtherRepo/GLSL_Mac_Linux_High-end

OtherRepo/Theme/Font
OtherRepo/Theme/gtk/Graphite-Dark-nord
OtherRepo/Theme/Cursor/Bibata-Modern-Ice
OtherRepo/Theme/Icon/01-Colloid