UwU.temp
setup.log

User/.config/cava/shaders
User/.config/mpv/playlists

temp

User/.config/mpv/shaders

# External Repo

# Mpv
external/mpv/GLSL_Mac_Linux_High-end

# Themes
external/themes/Font
external/themes/gtk/Graphite-Dark-nord
external/themes/cursor/Bibata-Modern-Ice
external/themes/icon/01-Colloid

# Server
external/sub-server/Engine

